[data-md-color-scheme="allstarlink"] {
    /* Primary color shades */
    --md-primary-fg-color:               hsl(86.28, 71.6%, 33.14%);
    --md-primary-fg-color--light:        hsl(86.28, 71.6%, 33.14%);
    --md-primary-fg-color--dark:         hsl(86.28, 71.6%, 33.14%);

    /* Accent color shades */
    --md-accent-fg-color:                hsl(86.28, 71.6%, 33.14%);
    --md-accent-fg-color--transparent:   hsl(86.28, 71.6%, 33.14%);

    --md-text-font-family: var(--md-text-font, _),
        -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;

    --md-code-font-family: var(--md-code-font, _),
        SFMono-Regular,
        Consolas,
        "Roboto Mono",
        Menlo, monospace;

    /* The navbar header */
    .md-header {
        background: linear-gradient(#73B51F, #5c9118);
        color: white;
    }

    .md-tabs {
        color: white;
    }
    .md-tabs__item--active{
        border-bottom-color: black;
        border-bottom-width: 2px;
    }

    .md-search__button {
        color: white;
    }

    .md-search__button::after {
        color: black;
    }

    /* Link Colors */
    --md-typeset-a-color:var(--md-accent-fg-color);

    /* General Typography */
    .md-typeset {
        line-height: 1.5em;
    }

    .md-typeset h1 {
        line-height: 1.5em;
        margin: 0 0 0.5em 0;
    }

    .md-typeset li {
        line-height: 1.5em;
        margin: 0 0 0.3em 0;
    }

    .md-nav__link--active > .md-ellipsis {
        color: white;
        text-decoration-color: white;
    }
}